@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #a7a0c9;

  --color-second: #e5b1b9;

  --color-tiers: #f8d4c4;

  --color-quater: #3c487c;
  
  --color-noir: #191818;

  --font-one: var(--font-ubuntu);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.wrapper {
  @apply px-2 sm:px-8 lg:px-20;
}

.title {
  @apply font-bold text-white text-center font-one tracking-wider text-3xl;
}

.subtitle {
  @apply font-semibold text-white text-center font-one tracking-widest text-xl;
}
.title-section {
  @apply text-5xl font-bold font-one tracking-wider;
}

.btn-primary {
  @apply cursor-pointer bg-primary text-white text-sm font-medium px-4 py-2 rounded-md hover:bg-primary/85 transition-colors duration-300;
}

.title-section {
  @apply tracking-wider text-noir font-bold text-2xl font-one p-0 sm:p-4;
}


.title-card {
  @apply truncate text-noir text-base font-one font-bold;
}

.button-switch-backoffice-active {
  @apply text-noir w-48 font-bold text-base text-left font-one
}
.button-switch-backoffice-inactive {
  @apply text-gray-500 w-48 font-bold text-start font-one
}

.toggle-btn {
  @apply bg-gray-300 border-2 border-gray-400 rounded-full w-[50px] h-7 cursor-pointer transition-all duration-300 ease-in-out relative;
}

.toggle-btn .thumb {
  /* On utilise left pour l'animation */
  @apply h-5 w-5 bg-white rounded-full absolute left-[3px] top-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out;
}

/* État Actif (ADMIN) */
.toggle-btn.toggled {
  @apply bg-lime-600 border-lime-700;
}

.toggle-btn.toggled .thumb {
  /* On déplace le rond vers la droite */
  left: calc(100% - 23px);
}

/* Hover effects */
.toggle-btn:not(.toggled):hover {
  @apply bg-gray-400;
}

.toggle-btn.toggled:hover {
  @apply bg-lime-700;
}

/* Remove Scrollbar (from stackoverflow) */

.container-snap::-webkit-scrollbar {
  display: none;
}

.container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

[data-vaul-drawer] {
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
