@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #a7a0c9;

  --color-second: #e5b1b9;

  --color-tiers: #f8d4c4;

  --color-quater: #3c487c;

  --color-noir: #191818;

  --font-one: var(--font-ubuntu);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.wrapper {
  @apply px-2 sm:px-8 lg:px-20;
}

.title-section {
  @apply text-3xl font-bold font-one tracking-wider;
}

.btn-primary {
  @apply cursor-pointer bg-primary text-white text-sm font-medium px-4 py-2 rounded-md hover:bg-primary/85 transition-colors duration-300;
}


.title-section {
  @apply tracking-wider text-noir font-bold text-2xl font-one ;
}

.title-card {
  @apply truncate text-noir text-base font-one font-bold;
}